<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title="To Do List" %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1><%= title %></h1>
    <p>Welcome to
        <%= title %>
    </p>
    <form method="POST" action="/api" class="store">
        Enter To Do List item:
        <br>
        <input type="text" name="to-do-item">
        <br>
        <input type="add" value="Add">
    </form>
</body>

</html>