<!DOCTYPE html>
<html lang"en">
<head>
  <meta charset="UTF-8">
  <title>todo list</title>
  <script src="../routes/index.js"></script>
<body>
  <h1>Snobbish Todo</h1>
  <form action="input"
</head>
</html>
